@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://tinyurl.com/4mhzu95v);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(123, 185, 185, 0.4);
}
.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}
.container .form{
    width: 50%;
    padding: 30px;
    background-color: transparent;
    transition: margin-left 0.18s ease;
}
.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}



.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
    font-family: 'Inter';
    color: white;
    text-transform: uppercase;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: rgb(123, 185, 185);
    border-radius: 25px;
}


.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    color: transparent;
}
.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background-color: transparent;
}
.input-field input:is(:focus, :valid){
    border-bottom-color:rgb(123, 185, 185);
}
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 23px;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ i{
    color:rgb(123, 185, 185);
}
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin-right: 10px;
    accent-color: white;
}
.form .text{
    color: #333;
    font-size: 14px;
}
.form a.text{
    color: white;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
    text-align: center;
   
}
.form .button button[type="submit"],
.form .button button[type="button"]{
   
    border: 2px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border-color: white;
    padding: 12px 150px;
    
}
    

.form .button button[type="submit"]:hover,
.form .button button[type="button"]:hover {
    background-color: rgb(123, 185, 185);
}
.form .login-signup{
    margin-top: 30px;
    text-align: center;
}


